<link rel="stylesheet"  type="text/css" href="app/template/style.css">



<div class="wrapper">  

    <div class="Box1">
        <div class="img"><img src="app/template/img/truck-chico.png"></div>
        <div class="titulo">Seguimiento Godoy Cruz</div>
        <div class="img2"><a href="#"><img src="app/template/img/arrow.png"></a></div>
    </div>
    <div class="Box2">
        <button>ver</button>
        <div class="terminadas">42045</div>
        <div class="pendientes">12545</div>
    </div>
    <div class="Box3">
        <div class="titulo">Total Proyecto</div>
        <button>ver</button>
        <div class="terminadas">42045</div>
        <div class="pendientes">12545</div>
        <div class="date">21 / 12 / 1981 12:20</div>

    </div>

    <div class="Box4">

            <div class="Box5">
                    <div class="titulo">Mario Perez</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            <div class="Box5">
                    <div class="titulo">Diego Sanchez</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            <div class="Box5">
                    <div class="titulo">Mario Vilches</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            <div class="Box5">
                    <div class="titulo">Sergio Mendez</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            <div class="Box5">
                    <div class="titulo">Adrián Lopez</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            <div class="Box5">
                    <div class="titulo">Sandro Martinez</div>
                    <div class="cerrar"><a href="#"><img src="app/template/img/cerrar.png"></a></div>
                    <div class="terminadas">42045</div>
                    <div class="pendientes">12545</div>
                    <div class="date">21 / 12 / 1981 12:20</div>
            </div>
            

    </div>

    <div class="Box6">
            <div class="titulo">Agregar Usuarios</div>
    </div>

    
    <div class="Box7">
        <div class="Box8">
            <div class="flecha"><img src="app/template/img/flecha.png"></div>
            <div class="terminadas">42045</div>
            <div class="pendientes">12545</div>
            <div class="nombre">Marcos Díaz</div>
    
        </div>
        
    </div>


    
          
</div>

    <div id="main"  ng-app="mapa">
        <div ng-controller="controladorMapa as contMap">
            <div id="map" class="map"> </div>
            <div id="repeat" ng-repeat="marker in $rootScope.markers | orderBy : 'title'">
                <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)"><label id="names" >{{marker.title}}</label></a>
            </div>
        </div>
    </div>
  

 
   

   
  
