<link rel="stylesheet"  type="text/css" href="app/template/style.css">



<div class="wrapper">
    <div class="btn-group btn-group-toggle">
        <label class="btn btn-secondary">
            <input type="radio" autocomplete="off" ng-model="timeCode" value="0" ng-change="changeTimeCode()" ng-checked="true"> Día
        </label>
        <label class="btn btn-secondary">
            <input type="radio" autocomplete="off" ng-model="timeCode" value="1" ng-change="changeTimeCode()"> Histórico
        </label>
    </div> 

    <div class="Box1">
        <div class="titulo">{{ instalation.name }}</div>   
    </div>
    <div class="Box2">
        <!--<button>ver</button>-->
        <div class="terminadas">{{ instalation.total_completed_claims }}</div>
        <div class="pendientes">{{ instalation.total_pending_claims }}</div>
        <div class="totales">Total: {{ instalation.total_completed_claims + instalation.total_pending_claims }}</div>
    </div>

    <div class="Box3">
        <select class="titulo" ng-model="currentProjectId" ng-change="changeCurrentProject()" ng-options="project.id as project.name for project in projects"></select>
        <!--<div class="titulo">{{ currentProjectName }}</div> -->       
        <!--<button>ver</button> -->
        <div class="terminadas">{{ projectCompletedClaims }}</div>
        <div class="pendientes">{{ projectPendingClaims }}</div>
        <div class="totales">Total: {{ projectPendingClaims + projectCompletedClaims }}</div>
    </div>

    <div class="Box4">
      <div class="Box5" ng-repeat="selectedUser in selectedUsers track by $index">
    <div class="Box5-1">
        <div class="date">{{ selectedUser.last_position_date | date:'dd-MM-yyyy HH:mm:ss' }}</div>
        <div class="titulo">{{ selectedUser.full_name }}</div>
    </div>
    <div class="Box5-2">
        <div class="total">Total: {{selectedUser.pending_claims + selectedUser.completed_claims}}</div>
        <div class="pendientes">{{ selectedUser.pending_claims }}</div>
        <div class="terminadas">{{ selectedUser.completed_claims }}</div>
        
    </div>
    <div class="Box5-3">
        <div class="cerrar"><a href="#" ng-click="removeUser(selectedUser)"><img src="app/template/img/cerrar.png"></a></div>
    </div>
      </div>                     
    </div>

    <div class="Box6">
            <div class="titulo">Agregar Usuarios</div>
    </div>

    
    <div class="Box7">
        <div class="Box8" ng-repeat="freeUser in freeUsers track by $index">
            <div class="flecha"><a href="#" ng-click="selectUser(freeUser)"><img src="app/template/img/flecha.png"></img></a></div>
            <div class="terminadas">{{ freeUser.completed_claims }}</div>
            <div class="pendientes">{{ freeUser.pending_claims }}</div>
            <div class="nombre">{{ freeUser.full_name }}</div>    
        </div>   
    </div>  
</div>

    <div class="circulos">
        <div class="pendientes">
            <div class="valor">{{ pendingClaims }}</div>  
            <div class="estado">Pendientes</div>
        </div>
        <div class="terminados">
                <div class="valor">{{ completedClaims }}</div>  
                <div class="estado">Terminados</div>
        </div>
    </div>

    <div id="main"  ng-app="mapa">
        <div>
            <div id="map" class="map"> </div>
            <div id="repeat" ng-repeat="marker in $rootScope.markers | orderBy : 'title'">
                <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)"><label id="names" >{{marker.title}}</label></a>
            </div>
        </div>
    </div>
  

 
   

   
  
