<link rel="stylesheet" type="text/css" href="app/template/style.css">
<link rel="stylesheet" type="text/css" href="app/claims/template/style-claims.css">

<div class="pac-card" id="pac-card">

    <div id="pac-container">
        <input id="pac-input" type="text" class="form-control" placeholder=" Buscar Dirección ">
    </div>
</div>



<div class="circulos">
    <div class="pendientes">
        <div class="valor">{{ pendingClaims }}</div>
        <div class="estado">Pendientes</div>
    </div>
    <div class="terminados">
        <div class="valor">{{ completedClaims }}</div>
        <div class="estado">Terminados</div>
    </div>
</div>

<div id="main" ng-app="mapa">
    <div>
        <div id="map" class="map"> </div>
        <div id="repeat" ng-repeat="marker in $rootScope.markers | orderBy : 'title'">
            <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)"><label id="names" >{{marker.title}}</label></a>
        </div>
    </div>

</div>