<link rel="stylesheet" type="text/css" href="app/template/style.css">
<link rel="stylesheet" type="text/css" href="app/claims/template/style-claims.css">


<div class="Box1">
    <div class=" titulo" style="padding-top: 0;"> {{ instalation.name }}</div>
    <!-- <button type="button" class="btn btn-default" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">Ver Lista</button> -->
    <hr>
</div>
<div class="btn-group btn-group-toggle">
    <label class="btn btn-secondary">
<input type="radio" autocomplete="off" ng-model="timeCode" value="0" ng-change="changeTimeCode()" ng-checked="true"> Día
</label>
    <label class="btn btn-secondary">
<input type="radio" autocomplete="off" ng-model="timeCode" value="1" ng-change="changeTimeCode()"> Histórico
</label>
</div>

<div class="Box2" style="z-index: 1;">
    <!--<button>ver</button>-->
    <div class="totales"><a class="total" ng-click="getClaimAmounts(0)">Total: {{ instalation.total_completed_claims + instalation.total_pending_claims }}</a></div>
    <div><a class="terminadas" ng-click="getClaimAmounts(2)">{{ instalation.total_completed_claims }}</a></div>
    <div><a class="pendientes" ng-click="getClaimAmounts(1)">{{ instalation.total_pending_claims }}</a></div>

    <!-- <div class="terminadas">{{ instalation.total_completed_claims }}</div>
    <div class="pendientes" > {{ instalation.total_pending_claims }}</div>
    <div class="totales">Total: {{ instalation.total_completed_claims + instalation.total_pending_claims }}</div> -->
    <div style="z-index: 2;">

        <div class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal style="width: 376px; height: 440px;z-index: 3; position: absolute;">
            <div class="well well-lg" style="width: 376px; height: 440px;">
                <div ng-repeat="claim in claims">
                    <div class="row">
                        <div ng-if="claim.status == 'pending'" class="col-md-5">
                            <h5 style="color: darkgreen">{{claim.code}}</h5>
                        </div>
                        <div ng-if="claim.status == 'completed'" class="col-md-5">
                            <h5 style="color: crimson">{{claim.code}}</h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-arrow-down" aria-hidden="true">{{claim.date}}</span></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-ok" aria-hidden="true">Heading2</span></h5>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true">Heading</span></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-object-align-horizontal" aria-hidden="true">Heading2</span></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-home" aria-hidden="true">Heading1</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-phone" aria-hidden="true"> Heading</span></h5>
                        </div>
                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-wrench" aria-hidden="true"> {{claim.address}}</span></h5>
                        </div>

                        <div class="col-md-3">
                            <h5><span class="glyphicon glyphicon-paperclip" aria-hidden="true"> {{claim.detail}}</span></h5>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="Box3" style="z-index: 1;">
    <select class="titulo" ng-model="currentProjectId" ng-change="changeCurrentProject()" ng-options="project.id as project.name for project in projects"></select>
    <!--<div class="titulo">{{ currentProjectName }}</div> -->
    <!--<button>ver</button> -->

    <div class="totales">
        <div class="total"><a class="total" ng-click="getCount(0)">Total: {{ projectPendingClaims + projectCompletedClaims }}</a></div>
        <div><a class="terminadas" ng-click="getCount(2)">{{ projectCompletedClaims }}</a></div>
        <div><a class="pendientes" ng-click="getCount(1)">{{ projectPendingClaims }}</a></div>
    </div>


</div>

<div class="Box4" style="z-index: 1;">

    <div class="Box5" ng-repeat="selectedUser in selectedUsers track by $index">
        <div class="Box5-1">
            <div class="date">{{ selectedUser.last_position_date | date:'dd-MM-yyyy HH:mm:ss' }}</div>
            <div class="titulo">{{ selectedUser.full_name | limitTo: 11 }}</div>
        </div>
        <div class="Box5-2">
            <div class="total">Total: {{selectedUser.pending_claims + selectedUser.completed_claims}}</div>
            <div class="pendientes">{{ selectedUser.pending_claims }}</div>
            <div class="terminadas">{{ selectedUser.completed_claims }}</div>

        </div>
        <div class="Box5-3">
            <div class="cerrar">
                <a href="#" ng-click="removeUser(selectedUser)"><img src="app/template/img/cerrar.png"></a>
            </div>
        </div>
    </div>
</div>

<div class="Box6" style="z-index: 1;">
    <div class="titulo">Agregar Usuarios</div>
</div>


<div class="Box7" style="z-index: 1;">
    <div class="Box8" ng-repeat="freeUser in freeUsers track by $index">
        <div class="flecha">
            <a href="#" ng-click="selectUser(freeUser)"><img src="app/template/img/flecha.png"></img>
            </a>
        </div>
        <div class="terminadas">{{ freeUser.completed_claims }}</div>
        <div class="pendientes">{{ freeUser.pending_claims }}</div>
        <div class="nombre">{{ freeUser.full_name | limitTo: 16 }}</div>
    </div>
</div>

<div class="circulos">
    <div class="pendientes">
        <div class="valor">{{ pendingClaims }}</div>
        <div class="estado">Pendientes</div>
    </div>
    <div class="terminados">
        <div class="valor">{{ completedClaims }}</div>
        <div class="estado">Terminados</div>
    </div>
</div>