<form>

    <div class="form-group">
        <!-- Full Name -->
        <label for="motivo_id" class="control-label">Motivo</label>
        <select class="form-control" id="motivo_id">
                <option value="Fa">Farola</option>
                <option value="Al">Alumbrado</option>
                <option value="PL">Plazas</option>
        </select>
    </div>
    <div class="form-group">
        <!-- Full Name -->
        <label for="operario_id" class="control-label">Operario</label>
        <select class="form-control" id="operario_id">
                    <option value="GO">Gabriel Oros</option>
                    <option value="ED">Emiliano Dalmau</option>
                    <option value="AL">Adolfo Lopez</option>
            </select>
    </div>
    <div class="form-group">
        <!-- Full Name -->
        <label for="grupo_id" class="control-label">Grupo</label>
        <select class="form-control" id="grupo_id">
                        <option value="1">sin grupo</option>
                        <option value="2">grupo 2</option>
                        <option value="3">grupo 3</option>
                </select>
    </div>
    <div class="form-group">
        <!-- Street 1 -->
        <label for="solicitante_id" class="control-label">Solicitante</label>
        <input type="text" class="form-control" id="solicitante_id" name="solicitanteid">
    </div>

    <div class="form-group">
        <!-- City-->
        <label for="tel_id" class="control-label">Telefono</label>
        <input type="text" class="form-control" id="tel_id" name="city" placeholder="4268247">
    </div>


    <div class="form-group">
        <!-- Zip Code-->
        <label for="detalle_id" class="control-label">Detalle</label>
        <input type="text" class="form-control" id="detalle_id" name="detalleid" placeholder=".............">
    </div>

    <div class="form-group">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>