<link rel="stylesheet" type="text/css" href="app/claims/template/style-claims.css">
<form name="newsClaims" class="form-claim">
    <h4>Formulario de Nuevos Reclamos</h4>
    <hr>
    <div class="form-group">
        <!-- Full Name -->
        <label for="motivo_id" class="control-label">Motivo</label>
        <select class="form-control" id="motivo_id" ng-model="claimsCntrl.data.motivo">
                <option ng-repeat="cause in listCauses" value="{{cause.id}}" >{{cause.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <!-- Full Name -->
        <label for="operario_id" class="control-label">Operario</label>
        <select class="form-control" id="operario_id" ng-model="claimsCntrl.data.operario">
                <option ng-repeat="user in listUsers"  value="{{user.id}}" >{{user.name}}
                </option>
        </select>
    </div>

    <div class="form-group">
        <!-- Full Name -->
        <label for="grupo_id" class="control-label">Grupo</label>
        <select class="form-control" id="grupo_id" ng-model="claimsCntrl.data.group">
                <option ng-repeat="group in listGroups" value="{{group.id}}" >{{group.name}}</option>
                </select>
    </div>
    <div class="form-group">
        <!-- Street 1 -->
        <label for="solicitante_id" class="control-label">Solicitante</label>
        <input type="text" class="form-control" id="solicitante_id" name="solicitanteid" ng-model="claimsCntrl.data.solicitante">
    </div>

    <div class="form-group">
        <!-- City-->
        <label for="tel_id" class="control-label">Telefono</label>
        <input type="text" class="form-control" id="tel_id" name="city" placeholder="4268247" ng-model="claimsCntrl.data.telefono">
    </div>


    <div class="form-group">
        <!-- Zip Code-->
        <label for="detalle_id" class="control-label">Detalle</label>
        <input type="text" class="form-control" id="detalle_id" name="detalleid" placeholder="............." ng-model="claimsCntrl.data.detalle">
    </div>

    <div class="form-group">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary" ng-click="claimsCntrl.form()" style="width: 340px;margin: 0px 0px 10px 10px;">Guardar</button>
    </div>

</form>