<link rel="stylesheet" type="text/css" href="app/claims/template/style-claims.css">
<form name="assignmentClaims" class="form-claim">

    <h4>Menu de Asignación</h4>
    <hr>
    <div class="form-group">
        <!-- Full Name -->
        <label for="operario_id" class="control-label">Operario</label>
        <select class="form-control" id="operario_id" ng-model="assignmentCntrl.data.operario">
                <option ng-repeat="user in listUsers"  value="{{user.id}}" >{{user.name}}
                </option>
        </select>
    </div>

    <div class="form-group">
        <!-- Full Name -->
        <label for="grupo_id" class="control-label">Grupo</label>
        <select class="form-control" id="grupo_id" ng-model="assignmentCntrl.data.group">
                <option ng-repeat="group in listGroups" value="{{group.id}}" >{{group.name}}</option>
                </select>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <button type="submit" class="btn btn-default" ng-click="assignmentCntrl.search()" style="width: 340px;margin: 0px 10px 0px 10px;">Buscar</button>
    </div>
    <button type="submit" class="btn btn-default" ng-click="assignmentCntrl.deletePolygon()" style="width: 340px;margin: 5px 10px 0px 10px;">Borrar Polygon</button>
    </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <button type="submit" class="btn btn-success" ng-click="assignmentCntrl.form()" style="width: 340px;margin: 5px 10px 0px 10px;">Asignar</button>
    </div>
    <button type="submit" class="btn btn-warning" ng-click="assignmentCntrl.formUnassign()" style="width: 340px;margin: 5px 10px 0px 10px;">Desasignar</button>
    </div>
    </div>




</form>