<link rel="stylesheet" type="text/css" href="app/template/style.css">

<div ng-if="viewMenu == true">

    <div class="Box7">

        <div class="list-group" ng-if="viewMenu == true">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading"> Bienvenido al Sistema.</h4>
                <p class="list-group-item-text">Selecione su area de trabajo en el menu</p>
                <button class="btn btn-danger" style="    margin-top: 26px;" ng-click="closeSesion()">Cerrar Sesion</button>
            </a>
        </div>
    </div>

</div>